@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body,
.font-sans {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
}

.bg-hero {
  @apply bg-cover bg-no-repeat bg-center;
  background-image: url("/src/assets/bg-hero.webp");
}
.bg-hero-service {
  @apply bg-cover bg-no-repeat bg-center;
  background-image: url("/src/assets/services/hero-bg-mobile.webp");
}
.bg-hero-about-us {
  @apply bg-cover bg-no-repeat bg-center;
  background-image: url("/src/assets/about-us/hero-bg-mobile.webp");
}
.bg-hero-contact-us {
  @apply bg-cover bg-no-repeat bg-center;
  background-image: url("/src/assets/contact-us/hero-bg-mobile.webp");
}

.service-pagination .swiper-pagination-bullet {
  @apply bg-white opacity-100 mx-1 rounded-full w-3 h-3;
}
.service-pagination .swiper-pagination-bullet-active {
  @apply bg-[#BB7CE4] opacity-100;
}

@media (min-width: 1024px) {
  .service-pagination {
    display: none;
  }
}
