---
import "../../assets/css/input.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/aboutUs/hero";
import Profile from "../components/aboutUs/profile";
import Footer from "../components/footer";
---

<Layout title="">
  <main>
    <div class="relative min-h-[300px]">
      <Hero client:only="react" />
    </div>

    <Profile client:only="react" />
    <Footer client:only="react" />
  </main>
</Layout>
