---
import "../../assets/css/input.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/services/hero";
import WhyUs from "../components/services/whyUs";
import CTA from "../components/services/cta";
import Footer from "../components/footer";
---

<Layout title="">
  <main>
    <div class="relative min-h-[100dvh]">
      <Hero client:only="react" />
    </div>

    <WhyUs client:only="react" />
    <CTA client:only="react" />
    <Footer client:only="react" />
  </main>
</Layout>
